<!--footer-area-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="widget">
                    <h3>We Offer</h3>
                    <ul>
                        <li><a href="#">Personal-Photos</a></li>
                        <li><a href="#">Family Portraits</a></li>
                        <li><a href="#">Printing</a></li>
                        <li><a href="#">Proms-Photos</a></li>
                        <li><a href="#">Wedding-Photos</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="widget">
                    <h3>The Team</h3>
                    <ul>
                        <li><a href="#">Robert</a></li>
                        <li><a href="#">Tom</a></li>
                        <li><a href="#">Maria</a></li>
                        <li><a href="#">Brandy</a></li>
                        <li><a href="#">Tommy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="widget">
                    <h3>Locations</h3>
                    <ul>
                        <li><a href="#">Orlando</a></li>
                        <li><a href="#">Lakeland</a></li>
                        <li><a href="#">Miami</a></li>
                        <li><a href="#">West-Palm</a></li>
                        <li><a href="#">Kissimmee</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="widget">
                    <h2>Family-Portraits</h2>
                    <address>
                        <strong>Get Your Family Memories</strong><br>
                        1st street Orlando<br>
                        <br>
                        Telf:863-969-8248<br>
                        Email: Electronicsmf@aol.com
                    </address>
                </div>
            </div>
        </div><!--row-ends-->
        <div class="row">
            <div class="col-md-12 copyright">
                <p>Copyright &copy; 2020 - photography All Rights Reserved Power By ICreatesites4u.com</p>
                <a href="#top" class="btn btn-primary scroltop"><i class="fa fa-angle-up"></i></a>
            </div>
        </div><!--row-->
    </div>
</div><!--footer-end-->
