@{
    ViewData["Title"] = "About";
}
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>About Me</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="widget-box">
                    <img src="~/images/bestdeveloper.jpg" class="img-responsive">
                    <h3>Best Photographer In Orlando</h3>
                </div>
            </div>
            <div class="col-md-8">
                <p style="text-indent:6%">
                    is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged.
                </p>
                <h2>Get to know us!</h2>
                <p style="text-indent:6%">
                    is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged.
                </p>
            </div>
        </div>
    </div>
</section>