@{
    ViewData["Title"] = "Contact";
}

<!--contact-area-->
<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Contact Me</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <img src="~/images/home-icon.png" />
                <h4>Serving-Orlando,fl</h4>
            </div>
            <div class="col-md-4 col-sm-4">
                <img src="~/images/home-icon2.png" />
                <h4>863-969-8248</h4>
            </div>
            <div class="col-md-4 col-sm-4">
                <img src="~/images/home-icon3.png" />
                <h4><a href="#">Electronicsmf@aol.com</a></h4>
            </div>
        </div>
    </div>
</section>
<!--hours-area-->
<section class="hours">
    <div class="container">
        <h2>Hours</h2>
    </div>
    <p>Monday - Friday: 7:30am - 7:00pm</p>
    <p>Saturday: 7:30am to noon</p>
</section>
<section id="location">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Location</h2>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h2>SCHEDULE YOUR SESSION TODAY</h2>
                    <hr>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224444.70495248452!2d-81.50883827574293!3d28.48109711612237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e773d8fecdbc77%3A0xac3b2063ca5bf9e!2sOrlando%2C+FL!5e0!3m2!1sen!2sus!4v1490497825484" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-md-6">
                    <img src="~/images/studio1.jpg" class="img-responsive slides">
                    <img src="~/images/studio2.jpg" class="img-responsive slides">
                    <img src="~/images/studio3.jpg" class="img-responsive slides">
                </div>
                <script>
						var myIndex =0;
						carousel();
						function carousel(){
						    var i;
						    var x=document.getElementsByClassName("slides")
						    for(var i=0; i< x.length; i++){
							x[i].style.display="none";
							}
						    myIndex++;
						    if(myIndex > x.length){myIndex =1}
							x[myIndex-1].style.display="block";
							setTimeout(carousel,3000);
						}
                </script>
            </div>
        </div>
    </div>
</section>